<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Loading.css" rel="stylesheet" />
    <link href="~/Content/prism.css" rel="stylesheet" />
    @*<link href="~/bower_components/angular-bootstrap/ui-bootstrap.min.js" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>*@
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
    @*<script src="~/bower_components/angular-bootstrap/index.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/node_modules/angularjs-datepicker/index.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/moment/moment.js"></script>
    <script src="~/node_modules/moment/locale/da.js"></script>
    
    <script src="~/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="~/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
    <script src="~/node_modules/angular-date-time-input/src/dateTimeInput.js"></script>
    <script src="~/AngularJS/MonitorRecurringAngularJS.js"></script>

</head>
<body>
    <header class="navbar-fixed">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-6 col-md-6 col-lg-3">
                    <div class="bg-label">
                        <div class="logo"><img src="@Url.Content("~/Image/logo.png")"></div>
                    </div>
                    <label class="txt">@ViewBag.SystemName</label>
                </div>
                <div id="top-panel" class="col-xs-6 col-md-6 col-lg-9">
                    <div class="row">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div class="container-fluid" id="Main">

        <div class="row">
            <div id="content" class="col-xs-12 col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
